[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
locustio = "*"
sdc-cryptography = "==0.2.3"
faker = "*"
backoff = "*"

[dev-packages]

[requires]
python_version = "3.7"
