[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sdc-cryptography = "==0.2.3"
faker = "*"
backoff = "*"
requests = "*"
gevent = "*"
google-cloud-monitoring = "*"

[dev-packages]

[requires]
python_version = "3.7"
